


.general{
	width: 35vw;
	height: auto;
	margin: 0 auto;
	border: 2px solid lightpink;
	padding: 10px;
	border-radius: 12px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.message{
	color: green;
	height: 5px;
	width: 100%;
	display: flex;
	justify-self: center;
	font-style: italic;
}